.menu-item.active, .menu-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.left-bar-menu {
  transition-property: max-width;
  transition-duration: 1s;
}